@model PersonalWebsite.Models.ContactViewModel
@{ 

}

<div class="col-xs-4">
    @using (Html.BeginForm("ContactMe", "Home", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message)
        <button class="btn" type="submit" value="Send Message">Send Message</button>
    }
</div>
